Skip to content Search or jump to… Pull requests Issues Marketplace Explore @jeungyeonyoon Sign out 116 929 2,
947 mdn/learning-area Code Issues 1 Pull requests 3 Projects 0 Insights learning-area/javascript/oojs/json/style.css 8600507 on Sep 8,
2016 @chrisdavidmills chrisdavidmills finishing JSON examples 48 lines (37 sloc) 551 Bytes
/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
    font-size: 4rem;
    text-align: center;
}

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* section styles */

section article {
    width: 33%;
    float: left;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}

© 2018 GitHub,
Inc. Terms Privacy Security Status Help Contact GitHub API Training Shop Blog About Press h to open a hovercard with more details.
