/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Tajawal', sans-serif;
}

header, nav, main, footer { 
    margin: auto;
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 1100px;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}


header {
    font-family: 'Tajawal', sans-serif;
}
header h1 {
    font-family: 'Tajawal', sans-serif;
    
}


h2{
    font-size: 1.7em;
    text-align: center;
    color: #315874;
}

h3{
    font-size: 1.5em;
    color: #1a4c6b;
}
header img {
    padding-top: 1.2em;
}
header .subheading {}


nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AFDBF9;
    border-radius: 15px;
}

nav ul li{
    display: inline;
}
nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
    align-items: center;
}
nav ul li a:hover{
    background-color: #d4d8d9;
       border-radius: 15px;

}

.forecast{
    display: none;
} 

nav ul li.active a {
     background-color: #315874;
     border-radius: 15px;
    
}

nav ul li a:hover {
     background-color: #315874;
}

main {
}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { }

footer {
}

.aligncenter{
    text-align: center;
    
}
.main-image{
    width: 500px;
}
.weather-summary{
    text-align: center;
    
}
.current{
    color: #F2D02A;
    font-size: 2em;
    font-family: cursive;
}
.highlow{
    font-size: 1em;
    color: #315874;
    margin-top: -0.5em;
}

.conditions{
    color: #B6B7B7;
    font-size: 1em;
}
.contact{
    background-color: #AFDBF9;
    text-align: center;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 15px;
    color: #315874;
}
.footer-bar{
    text-align: center;
    color: #b6b7b7;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.forecast{
    text-align: center;
    
}

table {
    margin: 0 auto;
    background-color: #b6b7b7;
    border: 1px solid;
    border-color: #b6b7b7;
    width: 90%;
    height: 3em;

    
    
} 
tbody{
    background-color: #efefef;
}